NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
CLOXA_SITE_URL=
CLOXA_LOCAL_MANAGER_EMAIL=
CLOXA_LOCAL_MANAGER_PASSWORD=
CLOXA_LOCAL_EMPLOYEE_PASSWORD=
CLOXA_LOCAL_EMPLOYEE_RESET_PASSWORD=
